<nav class="nav">
    <div class="navigation container">
        <div class="logo">
            <h1>Otaku Shop</h1>
        </div>
        <div class="menu">
            <div class="top-nav">
                <div class="logo">
                    <h1>Otaku Shop</h1>
                </div>
                <div class="close">
                    <i class="bx bx-x"></i>
                </div>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="https://www.otakushopp.com" class="nav-link icon">
                        <i class="fas fa-home"></i>
                        <span class="spname">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.otakushopp.com/produtos" class="nav-link icon">
                        <i class="fas fa-shopping-bag"></i>
                        <span class="spname">Produtos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.otakushopp.com/perfil" class="nav-link icon">
                        <i class="fas fa-user"></i>
                        <span class="spname">Perfil</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.otakushopp.com/carrinho" class="nav-link icon">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="spname">Carrinho</span>
                    </a>
                </li>
            </ul>
        </div>
        <a href="https://www.otakushopp.com/carrinho" class="cart-icon">
            <i class="bx bx-shopping-bag"></i>
        </a>
        <div class="hamburger">
            <i class="bx bx-menu"></i>
        </div>
    </div>
</nav>