<footer id="footer" class="section footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-center">
                <h3>Informações</h3>
                <a href="#">Não utilize informações reais nesse site</a>
                <a href="#">pois a finalidade dele</a>
                <a href="#">é meramente educacional</a>
                <a href="#">sendo construído para ser utilidado</a>
                <a href="#">como projeto prático do meu TCC.</a>
                <a href="#">Ass: Gabriel Vogais</a>
            </div>
             <div class="footer-center">
                <h3>Informações</h3>
                <a href="#">Instituto Federal da Bahia</a>
                <a href="#">Campus Barreiras</a>
                <a href="#">3º ano do Ensino Médio</a>
                <a href="#">Turma 731 (2020)</a>
                <a href="#">Curso Técnico em Informática</a>
            </div>
            <div class="footer-center">
                <h3>Redes Sociais</h3>
                <div>
                    <span>
                        <i class="fab fa-instagram"></i>
                    </span>
                    @gabriel_vogais
                </div>
                <div>
                    <span>
                       <i class="fab fa-whatsapp"></i>
                    </span>
                    +55 77 9 9977-4568
                </div>
                <div>
                    <span>
                      <i class="fab fa-telegram-plane"></i>
                    </span>
                    +55 77 9 9977-4568
                </div>
            </div>
            <div class="footer-center">
                <h3>Contato</h3>
                <div>
                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    Barra do Riacho, BR 020
                </div>
                <div>
                    <span>
                        <i class="far fa-envelope"></i>
                    </span>
                    gabriel.tcc.shop@gmail.com
                </div>
                <div>
                    <span>
                        <i class="fas fa-phone"></i>
                    </span>
                    +55 77 9 9977-4568
                </div>
                <div>
                    <span>
                        <i class="far fa-paper-plane"></i>
                    </span>
                    Riachão das Neves, Bahia, Brasil
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>